---
import MainLayout from "../../layouts/MainLayout.astro";
const title = "Ajustes";
---

<MainLayout title={title}>
    <div style="max-width:800px;margin:2rem auto;text-align:center;">
        <h2>Configuración de usuario</h2>
        <p>Aquí podrás editar tu perfil, cambiar tu contraseña y otras preferencias.</p>
    </div>
</MainLayout>