---
import MainLayout from "../Layout/MainLayout.astro";
const title = "Mis Cursos";
---

<MainLayout title={title}>
    <div style="max-width:800px;margin:2rem auto;text-align:center;">
        <h2>Área de mentor - cursos</h2>
        <p>Aquí podrá subir contenido educativo y gestionar sus cursos.</p>
    </div>
</MainLayout>
