---
import MainLayout from "../../layouts/MainLayout.astro";
const title = "Mis Eventos";
---

<MainLayout title={title}>
    <div style="max-width:800px;margin:2rem auto;text-align:center;">
        <h2>Área de mentor - eventos</h2>
        <p>Aquí podrá crear y gestionar sus eventos.</p>
    </div>
</MainLayout>
