---
import MainLayout from "../Layout/MainLayout.astro";
const title = "Perfil Mentor";
---

<MainLayout title={title}>
    <div style="max-width:800px;margin:2rem auto;text-align:center;">
        <h2>Perfil de Mentor</h2>
        <p>Datos del mentor y opciones de edición.</p>
    </div>
</MainLayout>