---
// events.astro
import AdminLayout from '../../layouts/AdminLayout.astro';
// TODO: Recrear AdminEventsSection
---

<AdminLayout 
    title="Gestión de Eventos" 
    subtitle="Crea, edita y publica eventos para la comunidad CTech"
>
    <div class="events-placeholder">
        <p>Módulo de eventos en restauración...</p>
    </div>
</AdminLayout>
